$biru : #0a62e6;
.navbar{
    background-color: $biru;
    display: flex;
    .s_navbar_1{
        margin-left: 2%;
    }
    .s_navbar_2{
        margin-right: 2%;
        display: flex;
        flex-direction: row;
        // ubah warna tombol
        .btn{
            background-color: white;
            color: black;
            border: 1px solid $biru;
            &:hover{
                background-color: $biru;
                color: white;
            }
        }
        .btn-daftar{
            background-color: rgb(17, 194, 10);
            color: rgb(255, 255, 255);
            border: 1px solid $biru;
            &:hover{
                background-color: $biru;
                color: white;
            } 
        }
    }
}
.banner{
    // buat backround dengan gambar yang diinginkan
    background-image: url(../img/e.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .judul{
        margin-top: 8%;
        font-size: 43px;
        font-weight: bold;
        display: flex;
        flex-direction: row;
        height: min-content;
        .j_1{
            margin-right: 14px;
        }
        .j_2{
            color: $biru;
        } 
    }
    .btn{
        margin-top: 15%;
        background-color: #377ee9;
        color: white;
        // border: 1px solid $biru;
        &:hover{
            background-color: #99c2ff;
            color: rgb(0, 0, 0);
        }
    }
    .row_card{
        margin-top: 12%;
        display: flex;
        // border: 1px solid black;
        width: 70%;
        flex-direction: row;
        justify-content: space-around;
        .card{
            text-align: center;
            width: 16rem;
            // buat bayangan
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
            .text{
                font-size: 23px;
                font-weight: bold;
                // margin-bottom: 7%;
            }
            .angka{
                font-size: 23px;
                font-weight: bold;
            }
        }
    }
}
.wrapper{
    margin-bottom: 5%;
    // border: 1px solid black;
    margin-left: 5%;
    margin-right: 5%;
    .section_dashboard{
        margin-top: 7%;
        .judul{
            text-align: center;
            hr{
                // buat garis bawah
                border: 1px solid black;
                width: 10%;
                margin: auto;
            }
        }
        .content{
            .visi_misi{
                margin-top: 4%;
                margin-bottom: 5%;
                border: 1px solid rgb(184, 184, 184);
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
                border-radius: 7px;
                .sub-content{
                    margin-left: 3%;
                    margin-top: 2%;
                    .judul_sub{
                        font-size: 20px;
                        font-weight: bold;
                    }
                    .text_visi{
                        margin-left:1%
                    }
                    .struktur_gambar{
                        // margin-left: 10%;
                        text-align: center;
                        img{
                            width: 85%;
                        }
                    }
                }
            }
            .jenis_layanan{
                margin-top: 4%;
                
                .row_card_layanan{
                    display: flex;
                    flex-direction: row;
                    // letakkan card ditengah
                    justify-content: center;
                    // justify-content: space-around;
                    border-radius: 10px;
                    flex-wrap: wrap;
                    border: 1px solid rgb(184, 184, 184);
                    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
                    padding: 3%;
                    .card{
                        text-align: center;
                        margin-left: 3%;
                        margin-top: 2%;
                        margin-bottom: 2%;
                        border-radius: 10px;
                        width: 14rem;
                        background-color: #377ee9;
                        color: white;
                        transition: 0.2s;
                        font-weight: bold;
                        // buat bayangan
                        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
                        &:hover{
                            background-color: white;
                            color: black;
                        }
                    }
                }
            }
        }
        
    }
    .section_form{
        margin-top: 3%;
        .judul{
            text-align: center;
            font-weight: bold;
            hr{
                // buat garis bawah
                border: 1px solid black;
                width: 10%;
                margin: auto;
            }
        }
        .container{
            margin-top: 2%;
            width: 100%;
            border: 1px solid rgb(163, 163, 163);
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
            height: 70vh;
            border-radius: 10px;
            display: flex;
            flex-direction: row;
            padding: 0%;
            .side_left{
                width: 60%;
                border-right: 1px solid rgb(163, 163, 163);
                height: 70vh;
                // box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
            }
            .side_right{
                width: 40%;
                // border top dan bottom right radius
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                background-color: #eeeaea;
                height: 69.7vh;
                .contain{
                    margin-top: 2%;
                }
            }
        }
    }
}